{% extends 'base.html' %}

{% block content %}
<div class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
  <h2 class="text-white text-lg font-medium title-font mb-5" >Password Change</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <!-- <div class="relative mb-4"> -->
       
    <label class="leading-7 text-sm text-gray-400" >
        {{ field.label_tag }}
        <br>
    </label>
    {{ field }}
    <br>
        {% if field.help_text %}
        
        
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    
    <!-- </div> -->
    <br>
    {% endfor %}
    <br>
    <button type="submit">Password Change</button>
  </form>
</div>
{% endblock %}