<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Failure</title>
    </head>
    
    <body class="text-gray-400 bg-gray-900 body-font">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">Failure</h1>
           <a href="/buyer/home/"> <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Back to Home</p></a>
          </div>

    </body>
</html>